.menu {
    display: block;
    text-indent: -9999px;
}


.menu::after, ::before{
    content: "";
    display: block;
    background-color: red;
    height: 4px;
    width: 100%;
    border-radius: 2px;
}