:root {
  --color-negative: #3a4042;
  --color-zeroo: #ffffff;
  --color-light-negative: rgba(58, 64, 66, 0.10)
  --colors-first: #f25a70;

  --color-second: #eeeeee;
  --color-third: #9b9b9b;
  --color-fourth: #707070;
  --color-fifth: #828282;

  --color-sixth: #fffcee;
  --color-seventh: #f4f1e4;
  --color-eighth: #eae6da;
}
